# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Mac
.DS_Store

# User generated content
static/models/user_*
!static/models/.gitkeep
